body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#content{
    background-color: #FFF;
}

form{
    margin: 15px;
}

.slider label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 12px;
    color: #aaa;
    font-size: 80%;
}

.form-group.slider-control{
    margin-bottom: 25px;
}

/*azul MP #0192f6*/