@{
    ViewBag.Title = "Candidato";
}

@model testemeuspedidos.Models.HomeViewModel

<div class="jumbotron">
    <h1>Desenvolvedores</h1>
    <p class="lead">
        Obrigado pelo seu interesse em trabalhar conosco!
        <br/>
        Entraremos em contato assim que tivermos novas posições que se encaixam com seu perfil.
    </p>
</div>